# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Configs/Default/AmazonFire/icons/banner.png
Configs/Default/AmazonFire/icons/icon_hdpi.png
Configs/Default/AmazonFire/icons/icon_ldpi.png
Configs/Default/AmazonFire/icons/icon_mdpi.png
Configs/Default/AmazonFire/icons/icon_xhdpi.png
Configs/Default/AmazonFire/icons/icon_xxhdpi.png
Configs/Default/AmazonFire/icons/icon_xxxhdpi.png
Configs/Default/WindowsUAP/WinUWPRunner_TemporaryKey.pfx
Configs/Default/WindowsUAP/SplashScreen.scale-100.png
Configs/Default/Windows8/Win8NativeRunner_TemporaryKey.pfx
Configs/Default/windows/Runner_Icon_256.ico
Configs/Default/Windows8/Windows8_TemporaryKey.pfx
Configs/Default/AmazonFire/icons/ouyaIcon.png
Configs/Default/AmazonFire/portrait_splash.png
Configs/Default/AmazonFire/splash.png
*.png
